body {
  margin: 0;
}

html,
body,
* {
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar,
ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

ion-content::part(scroll) {
  scrollbar-width: none;
}
